$font-dm-sans:
  "DM Sans",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  sans-serif;
$font-allerta-stencil: "Allerta Stencil", sans-serif;

$color-black: #000000;
$color-white: #ffffff;
$color-gold: #a18a68;
$color-red: #d92600;
$color-green: #008000;
$gray-900: #0a0a0a;
$gray-800: #262626;
$gray-750: #333333;
$gray-700: #3d3d3d;
$gray-650: #575757;
$gray-600: #707070;
$gray-500: #999999;
$gray-450: #9e9e9e;
$gray-400: #c4c4c4;
$gray-350: #d6d6d6;
$gray-300: #d9d9d9;
$gray-250: #e0e0e0;
$gray-200: #f0f0f0;
$gray-100: #fafafa;
$light-gray: #efefef;

$breakpoints-s: 475px;
$breakpoints-m: 768px;
$breakpoints-l: 1024px;
$breakpoints-xl: 1280px;
$breakpoints-xxl: 1440px;
