$font-dm-sans: "DM Sans", sans-serif;
$font-allerta-stencil: "Allerta Stencil", sans-serif;

$color-gold: #a18a68;
$color-gray: #707070;

$breakpoints-m: 768px;
$breakpoints-l: 1024px;
$breakpoints-xl: 1280px;
$breakpoints-xxl: 1440px;
